html {
    height: 100%;
    width: 100%;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
}
.image-radius {
    border-radius: 40px;
    width: 60px;
}
.nav-wrapper ul li {
    margin-right: 8px;
}

.main {
    border-bottom: 1px solid #ccfbff;
    min-height: 100%;
    margin: 0;
    padding: 0;
}
#myeditor {
    font-size: 14pt;
    height: 100%;
    width: 100%;
}
